In [1]:
import pandas as pd
from pathlib import Path

In [8]:
wkdir = Path(r"C:\Users\ucasbwh\Desktop\20191011_120510_Geom_Cal_-50C\PROC")
file = "Unproc_TC.pickle"

In [9]:
TC = pd.read_pickle(wkdir / file)
TC.ACTION.head(20)

0     STIME
1        CE
2        PE
3       FWL
4      WACL
5      WACL
6      WACL
7      WACL
8      WACL
9      WACL
10     WACL
11     WACL
12     WACL
13     WACL
14     WACL
15     WACL
16       PE
17       CE
18       CE
19       PE
Name: ACTION, dtype: object

In [23]:
wac_tc = TC[(TC['ACTION'] == 'WACL ') | (TC['ACTION'] == 'WACR ')]
if wac.empty:
    print("YUP")
wac_cmd_dict = {0x00: "IA",
                0x01: "HK",
                0x02: "DT"}

In [11]:
hrc = TC[TC['ACTION'] == 'HRC ']
hrc.head(10)

,Date,Time,Description,0,1,2,3,4,5,6,7,8,9,10,DT,BID,ACTION
20,2019-10-11,12:10:36.090,PAN_TC_PIU_HRC,174,0,21,0,5,2,0,0,0,0,-1,2019-10-11 12:10:36.090,192,HRC
21,2019-10-11,12:10:37.090,PAN_TC_PIU_HRC,174,0,22,0,5,2,0,0,0,0,-1,2019-10-11 12:10:37.090,192,HRC
22,2019-10-11,12:10:38.090,PAN_TC_PIU_HRC,174,0,23,0,5,2,0,0,0,0,-1,2019-10-11 12:10:38.090,192,HRC
23,2019-10-11,12:10:39.040,PAN_TC_PIU_HRC,174,0,24,0,5,15,0,188,0,0,-1,2019-10-11 12:10:39.040,192,HRC
24,2019-10-11,12:10:40.090,PAN_TC_PIU_HRC,174,0,25,0,5,2,0,0,0,0,-1,2019-10-11 12:10:40.090,192,HRC
25,2019-10-11,12:10:41.091,PAN_TC_PIU_HRC,174,0,26,0,5,2,0,0,0,0,-1,2019-10-11 12:10:41.091,192,HRC
26,2019-10-11,12:10:42.090,PAN_TC_PIU_HRC,174,0,27,0,5,2,0,0,0,0,-1,2019-10-11 12:10:42.090,192,HRC
27,2019-10-11,12:10:43.090,PAN_TC_PIU_HRC,174,0,28,0,5,2,0,0,0,0,-1,2019-10-11 12:10:43.090,192,HRC
28,2019-10-11,12:10:44.090,PAN_TC_PIU_HRC,174,0,29,0,5,2,0,0,0,0,-1,2019-10-11 12:10:44.090,192,HRC
29,2019-10-11,12:10:45.090,PAN_TC_PIU_HRC,174,0,30,0,5,2,0,0,0,0,-1,2019-10-11 12:10:45.090,192,HRC

In [7]:
hrc_cmd_dict = {0x00 : "RST",
                0x01 : "SID",
                0x02 : 'CS',
                0x03 : 'Motor Steps',
                0x04 : 'Motor Stop',
                0x05 : 'Set Gains',
                0x06 : 'Set Int',
                0x08 : 'Reset IMG #',
                0x09 : 'Set Win',
                0x0A : 'Start AI',
                0x0B : 'Start AF',
                0x0C : 'Reg 1',
                0x0D : 'Reg 2', 
                0x0E : 'Reg 4',
                0x0F : 'Goto Enc',
                0x10 : 'Reg 3',
                0x11 : 'Set Enc', 
                0x12 : 'Load AI', 
                0x13 : 'Set Shr',
                0x14 : 'Set Win Sz',
                0x15 : 'Set Motor',
                0xF5 : 'Enc Direct',
                0xF6 : 'Enc Inver'}

In [12]:
TC['CAM_CMD'] = hrc[5].replace(hrc_cmd_dict)
TC.head(10)

,Date,Time,Description,0,1,2,3,4,5,6,7,8,9,10,DT,BID,ACTION,CAM_CMD
0,2019-08-06,14:25:59.209,PAN_TC_PIU_STIME,168,0,1,0,6,0,8,179,247,3,65,2019-08-06 14:25:59.209,0,STIME,NaN
1,2019-08-06,14:26:26.924,PAN_TC_PIU_CE,168,8,2,0,5,3,0,0,0,0,-1,2019-08-06 14:26:26.924,1,CE,NaN
2,2019-08-06,14:26:27.911,PAN_TC_PIU_PE,168,16,3,0,5,3,0,0,0,0,-1,2019-08-06 14:26:27.911,2,PE,NaN
3,2019-08-06,14:26:32.911,PAN_TC_PIU_HRC,174,0,4,0,5,2,0,0,0,0,-1,2019-08-06 14:26:32.911,192,HRC,CS
4,2019-08-06,14:26:53.241,PAN_TC_PIU_HRC,174,0,5,0,5,2,0,0,0,0,-1,2019-08-06 14:26:53.241,192,HRC,CS
5,2019-08-06,14:26:54.441,PAN_TC_PIU_HRC,174,0,6,0,5,6,0,0,3,0,-1,2019-08-06 14:26:54.441,192,HRC,Set Int
6,2019-08-06,14:26:56.841,PAN_TC_PIU_HRC,174,0,7,0,5,13,0,0,0,0,-1,2019-08-06 14:26:56.841,192,HRC,Reg 2
7,2019-08-06,14:26:58.041,PAN_TC_PIU_HRC,174,0,8,0,5,1,0,0,0,0,-1,2019-08-06 14:26:58.041,192,HRC,SID
8,2019-08-06,14:27:01.042,PAN_TC_PIU_HRC,174,0,9,0,5,14,0,0,0,0,-1,2019-08-06 14:27:01.042,192,HRC,Reg 4
9,2019-08-06,14:27:08.443,PAN_TC_PIU_HRC,174,0,10,0,5,2,0,0,0,0,-1,2019-08-06 14:27:08.443,192,HRC,CS

In [18]:
file = "Cal_TC.pickle"
cal = pd.read_pickle(wkdir / file)
cal.head()

,Date,Time,Description,0,1,2,3,4,5,6,7,8,9,10,DT,BID,ACTION,Cam_Cmd
0,2019-10-11,12:05:45.056,PAN_TC_PIU_STIME,168,0,1,0,6,0,15,42,153,3,222,2019-10-11 12:05:45.056,0,STIME,NaN
1,2019-10-11,12:06:30.979,PAN_TC_PIU_CE,168,8,2,0,5,1,0,0,0,0,-1,2019-10-11 12:06:30.979,1,CE,NaN
2,2019-10-11,12:06:33.989,PAN_TC_PIU_PE,168,16,3,0,5,1,0,0,0,0,-1,2019-10-11 12:06:33.989,2,PE,NaN
3,2019-10-11,12:06:40.494,PAN_TC_PIU_FWL,168,48,4,0,5,3,1,0,0,0,-1,2019-10-11 12:06:40.494,6,FWL,NaN
4,2019-10-11,12:07:33.014,PAN_TC_PIU_WACL,170,0,5,0,12,32,0,37,128,0,0,2019-10-11 12:07:33.014,64,WACL,NaN

In [20]:
level = wac_tc['Cam_Cmd'].apply(lambda x: -1 if x == "HK" else 1)
print(level)

NameError: name 'wac_tc' is not defined

In [27]:
level[0]

1

In [30]:
hrc_tc_cs = next(i for i,v in enumerate(level) if v==-1)
print(hrc_tc_cs)

3

In [7]:
file = "RAW_HKTM.pickle"
hk = pd.read_pickle(wkdir / file)
hk.columns

Index(['DT', 'Block_Type', 'TM_Criticality', 'MMS_Dest', 'Instr_ID',
       'TM_Type_ID', 'Seq_Flag', 'Pkt_CUC', 'Data_Len', 'Volt_Ref', 'Volt_6V0',
       'Volt_1V5', 'Temp_LFW', 'Temp_RFW', 'Temp_HRC', 'Temp_LWAC',
       'Temp_RWAC', 'Temp_LDO', 'Temp_HRCA', 'Stat_Temp_On', 'Stat_Temp_Mo',
       'Stat_Temp_He', 'Stat_Temp_Se', 'ERR_1_CMD', 'ERR_1_FW', 'ERR_2_LWAC',
       'ERR_2_RWAC', 'ERR_3_HRC', 'Stat_FWL_Op', 'Stat_FWL_Ho', 'Stat_FWL_Id',
       'Stat_FWL_Po', 'Stat_FWR_Op', 'Stat_FWR_Ho', 'Stat_FWR_Id',
       'Stat_FWR_Po', 'FWL_ABS', 'FWR_ABS', 'FWL_REL', 'FWR_REL',
       'Stat_PIU_En', 'Stat_PIU_Pw', 'IMG_SOL', 'IMG_Task_ID', 'IMG_Task_RNO',
       'IMG_Cam', 'IMG_FW', 'IMG_No', 'PIU_Ver', 'FWL_RTi', 'FWL_Spe',
       'FWR_Spe', 'FWL_Cur', 'FWR_Cur', 'FWR_RTi', 'FWL_StL', 'FWR_StR',
       'WAC_CID', 'WAC_WID', 'WAC_WTS', 'WAC_SUM', 'WAC_IAS', 'WAC_DT_BIN',
       'WAC_DT_ITS', 'WAC_DT_INT', 'WAC_DT_STP', 'WAC_DT_INH', 'WAC_DT_AE',
       'WAC_DT_PAD', 'WAC_DT_GAS', 'WAC_DT_DD', 'WAC_DT_AES', 'WAC_DT_CRC',
       'HRC_ACK', 'HRC_CS', 'HRC_TP', 'HRC_ENC', 'HRC_EPF', 'HRC_AIF',
       'HRC_AFF', 'HRC_MMF', 'HRC_IFC', 'HRC_GA', 'HRC_ESF', 'HRC_EIF',
       'HRC_ERR_EN', 'HRC_ERR_AI', 'HRC_ERR_AF', 'HRC_MD_STP', 'HRC_MD_INT',
       'HRC_MD_FXC', 'HRC_MD_FYC', 'HRC_MD_SFS', 'HRC_MD_FWZ', 'HRC_Res_CA'],
      dtype='object')

In [46]:
hk[35:][['DT', 'TM_Type_ID', 'HRC_ENC']].head(20)

                        DT  TM_Type_ID  HRC_ENC
35 2019-10-02 09:47:00.007           1      NaN
36 2019-10-02 09:47:01.007           1      NaN
37 2019-10-02 09:47:02.007           1      NaN
38 2019-10-02 09:47:03.007           0      NaN
39 2019-10-02 09:47:04.007           0     1023
40 2019-10-02 09:47:05.007           0     1023
41 2019-10-02 09:47:06.007           0     1023
42 2019-10-02 09:47:07.007           0     1023
43 2019-10-02 09:47:08.007           0     1023
44 2019-10-02 09:47:09.007           0      NaN
45 2019-10-02 09:47:10.007           0     1023
46 2019-10-02 09:47:11.007           0     1023
47 2019-10-02 09:47:12.007           0      NaN
48 2019-10-02 09:47:13.007           0      NaN
49 2019-10-02 09:47:14.007           0      NaN
50 2019-10-02 09:47:15.007           0     1023
51 2019-10-02 09:47:16.007           0     1023
52 2019-10-02 09:47:17.007           0     1023
53 2019-10-02 09:47:18.007           0      NaN
54 2019-10-02 09:47:19.007           0      NaN

In [17]:
level = wac_tc['Cam_Cmd'].apply(lambda x: -1 if x == "HK" else 1)

NameError: name 'wac_tc' is not defined